.editor {
  height: 100vh;
}

.hex-panel {
  height: 100vh;
  flex: 1;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  border: none;
}

.hex-panel-right {
  display: flex;
  flex-direction: column;
}

.hex-editor {
  display: flex;
  margin-top: 0;
}

.hex-cell {
  color: var(--color-charactor);
  margin: 6px;
  font-size: 15px
}

.string-panel {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: none;
}

.column-bar-container {
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #e0e0e0;
}

.column-bar {
  font-size: 15px;
  margin-right: 2px;
}

.row-bar-container {
  width: 50px;
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
}

.row-bar-textarea {
  margin-top: 20px;
}

.row-bar {
}