.hex-panel {
  height: 100%;
  flex: 1;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  border: none;
}

.hex-panel-right {
  display: flex;
  flex-direction: column;
}

.hex-panel-string {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--layout-editor-column-bar-height) + var(--layout-editor-row-item-margin-first));
  margin-left: 10px;
}

.hex-editor {
  height: 100%;
  display: flex;
  margin-top: 0;
}

.hex-cell {
  color: var(--color-charactor);
  width: var(--layout-editor-column-item-width);
  height: var(--layout-editor-row-item-height);

  margin-left: var(--layout-editor-column-item-margin-left);
  margin-right: var(--layout-editor-column-item-margin-right);
  margin-top: var(--layout-editor-row-item-margin-top);
  margin-bottom: var(--layout-editor-row-item-margin-bottom);
}

.string-panel-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  color: var(--color-charactor);
}

.string-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: none;
}

.string-panel-row {
  display: flex;
  flex-direction: row;
  height: var(--layout-editor-row-item-height);
  margin-top: var(--layout-editor-row-item-margin-top);
  margin-bottom: var(--layout-editor-row-item-margin-bottom);
}

.column-bar-container {
  height: 20px;
  display: flex;
  flex-direction: row;
  background-color: #e0e0e0;

  font-size: 15px;
  font-weight: bold;
}

.column-bar-first-margin {
  width: var(--layout-editor-column-item-margin-first)
}

.column-bar-item {
  width: var(--layout-editor-column-item-width);
  margin-left: var(--layout-editor-column-item-margin-left);
  margin-right: var(--layout-editor-column-item-margin-right);
}

.row-bar-container {
  width: var(--layout-editor-row-item-width);

  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
}

.row-bar-area {
  margin-top: calc(var(--layout-editor-column-bar-height) + var(--layout-editor-row-item-margin-first));

  text-align: right;
  font-weight: bold;
}

.row-bar-item {
  width: var(--layout-editor-row-item-width);
  height: var(--layout-editor-row-item-height);
  margin-top: var(--layout-editor-row-item-margin-top);
  margin-bottom: var(--layout-editor-row-item-margin-bottom);
}

.hex-editor-container {
  flex: 1;
  flex-direction: column;
  margin-top: var(--layout-editor-row-item-margin-first);
  margin-left: var(--layout-editor-column-item-margin-first);
}

.hex-editor-row {
  display: flex;
  flex-direction: row;
}
