.editor {
  height: 100vh;
}

.hex-panel {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  border: none;
  margin: 4px;
}

.hex-panel-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.string-panel {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: none;
  margin: 4px;
}

.column-bar-container {
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #e0e0e0;
}

.row-bar-container {
  width: 50px;
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
}

.row-bar-textarea {
  margin-top: 20px;
}

.row-bar {
}