.App {
  text-align: center;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-menu {
  height: var(--layout-top-menu-height);
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  cursor: default;
}

.content.column {
  flex-direction: column;
}

.content.row {
  flex-direction: row;
}

.panel {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  overflow: auto;
  box-sizing: border-box;
}

.portion-editor {
  flex: var(--layout-portion-editor);
}

.portion-info {
  flex: var(--layout-portion-info);
}
