.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-menu {
  height: 50px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  flex: 1;
  display: flex;
  height: 100vh;
}

.content.column {
  flex-direction: column;
}

.content.row {
  flex-direction: row;
}

.panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.portion-editor {
  flex: 7;
}

.portion-info {
  flex: 3;
}